.playerIframeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.playerIframeContainer > iframe {
    width: 90vw;
    height: 80vh;
}